.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    width: 80%;

    .signUpForm {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 80%;
        padding: 10%;
    }
}