// mixins
@mixin pageCardStyle ($height, $width, $cardColor, $borderRadius) {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: $width;
    border-radius: $borderRadius;
    margin-top: 10vh;
    align-items: center;
    box-shadow: var(--shadow-elevation-medium);
    background-color: $cardColor;
    padding-inline: max(1vh,0.5vw);
    font-size: max(2vw,4vh);
    padding-bottom: 5%;
  }